.signup{
    background: #353444;
    padding: 20px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.error-text{
    font-size: 13px;
    color: #c72020;
    margin-top: 5px;
    margin-bottom: 0;
}